node_modules/
npm-debug.log
*/npm-debug.log
.idea/
.DS_Store
*/.DS_Store
.env
*/.env
package-lock.json
.nyc_output
*/.nyc_output
React/coverage
React/es
tmp/
.floo
.flooignore
test-447c53803df9.json
.vscode/
DataAnalysisBot*.json