[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2018.1.18"
numpy = "==1.14.2"
pandas = "==0.22.0"
python-dateutil = "==2.7.0"
pytz = "==2018.3"
six = "==1.11.0"


[dev-packages]



[requires]

python_version = "3.6"
