.chat{
    overflow: hidden;
    padding: 0 !important;
}

.scroll_container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background:white;
}

.chat-thread{
    padding-top: 10px;
    padding-left: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.chat-thread:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: #f7f7f7;
}

.chat-thread li{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.chat-thread li img{
    position: relative;
    height: 400px;
    display: block;
}

.line{
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.markdown pre{
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

.error pre{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.line-code{
    margin-top: 12px !important;
}

.line-code pre{
    margin: 0 12px !important;
    box-shadow: 0 1px 1px 0 #C7C7C7 inset;
    cursor: text;
    max-height: 250px;
    flex-grow: 1;
}

.output-area{
    margin-top: 0;
    width: 100%;
    padding-left: 100px;
}

.output-area pre{
    display: inline-block;
}

.markdown, pre, .code{  
    flex-grow: 1;
}

.markdown div, .code pre{
    padding: 6px 20px;
    position: relative;
    max-width: 60%;
    float: left; 
    margin: 0 15px;
}

.error .bot{
    background: rgba(244, 67, 54, 0.25) !important;
}

.me{
    background: #4285f4;
    border-radius: 25px 25px 0px 25px;
    float: right !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.me pre{
    color: white;
}

.mycode{
    position: relative;
    margin: 5px 10px;
}

.mycode pre{
    float: right !important;
    box-shadow: 0 1px 1px 0 #C7C7C7 inset;
    cursor: text;
    max-height: 350px;
    width: 80% !important;
    margin: 0 !important;
}

.code-indicator{
    display: block;
    width: auto;
    height: 28px;
    background: rgba(0,0,0,0.07);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: -29px;
    right: 0;
    text-align: center;
    line-height: 28px;
    font-size: 15px;
    padding: 0 10px;
    /*border-radius: 50%;
    padding: 3px;
    border: 1px solid rgba(0,0,0,0.2);*/
}

.code-indicator i{
    line-height: 28px;
    font-size: 15px;
    font-weight: 600;
}


.bot, .comp{
    color: #555;
    border-radius: 0px 25px 25px 25px;
    background: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 13px !important;
}


.bot::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:url("dist/img/logov2.png") no-repeat;
    background-size: 100%;
    background-position: center center;
    position: absolute;
    bottom: -23px;
    left: 0;
    /*border-radius: 50%;
    padding: 3px;
    border: 1px solid rgba(0,0,0,0.2);*/
}

.date{
    position: absolute;
    top: 100%;
    padding: 2px 0;
    color: #999;
    font-size: 11px;
    display: block;
    right: 0;
}

.python{
    padding: 5px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0 15px;
    border-radius: 5px;
    background: #f8f8f8;
    font-family: 'Source Code Pro', monospace !important;
}

.python:hover{
    background: rgba(0,0,0,0.05);
}

.incode{
    width: 100px;
    text-align:center;
    font-weight: 400;
    font-size: 18px;
    color: #2196F3;
    float: left;
    flex-basis: 100px;
    flex: none;
}

.incode-markdown{
    width: 100px;
    text-align:center;
    font-weight: 400;
    font-size: 15px;
    color: #666;
    float: left;
    flex-basis: 100px;
    flex: none;
    padding: 5px 0;
}

.outcode{
    width: 100px;
    margin-left: -100px;
    text-align:center;
    font-weight: 400;
    font-size: 18px;
    color: #f03e3e;
    float: left;
    flex-basis: 100px;
    flex: none;
    padding-top: 10px;
}

.code_command{
    color: #4285f4 !important;
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 14px;
}

.react-syntax-highlighter-line-number{
    font-size: 12px;
}

.resultdiv{
    display: inline-block;
}

.resultdiv pre{
    margin: 5px 15px;
    padding: 6px 10px;
    box-shadow: inset 0 0 0 1px #e9eaeb;
    background: #f1f1f1;
    border-radius: 5px;
}

.container_base64{
    position: relative;
    display: block;
    height: auto;
    width: 70%;
}

.openCode{
    box-shadow: inset 0 0 0 1px #e9eaeb;
    background: #f6f7f9;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.choices{
    display: flex !important;
    margin: 10px 50px 20px 50px;
    align-items: center;
    flex-wrap: wrap;
}

/*.active_choice + .choices{
    display: flex !important;
}*/

.choices .next{
    background: white !important;
    border: 2px solid #2196F3 !important;
    color:  #2196F3 !important;
    cursor: default !important;
    padding: 7px !important;
}

.next:hover{
    box-shadow: none;
}

.choices .choice, .choices .download, .choices .next, .choices .menu_font{
    background: #f6f7f9;
    border-radius: 40px;
    padding: 7px 15px;
    margin-right: 10px;
    font-size: 16px;
    color: #555;
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: 2px solid #e9eaeb;
    margin-bottom: 10px;
}

.choices .choice:hover{
    background: #f6f7f9;
    box-shadow: 0 3px 15px -1px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
}

.download{
    background: white !important;
    border: 2px solid rgba(66,133,244,0.9) !important;
    color:  rgba(66,133,244,0.9) !important;
    transition: all 0.3s;
}

.download:hover{
    background: #009688 !important;
    border: 2px solid #009688;
    color: white !important;
    transition: all 0.3s;
    box-shadow: none;
}

.toggle_per{
    padding: 0 !important;
    background: rgba(0,0,0,0) !important;
    border: none !important;
    box-shadow: none !important;
    color: #555 !important;
}

.toggle_per:focus{
    box-shadow: none !important;
}

.input_color{
    width: 90% !important;
    margin: 0px auto;
}

.select_axis{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.axes{
    background: white;
    border: 2px solid #2196F3;
    color:  #2196F3;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.select_axis .active{
    background: #2196F3;
    color: white;
}

.axes:hover{
    background: #2196F3;
    color: white;
}

.form_title{
    height: 60px;
    max-width: 70%;
    position: relative;
    margin-left: 24px;
}

.title_input{
    bottom: 0;
    color: #888;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    position: absolute;
    background: transparent;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid #E0E0E0;
}

.form_title label{
    bottom: 0px;
    color: #E0E0E0;
    position: absolute;
    pointer-events: none;
    transition: 0.1s ease-in-out;
}

.bar{
    bottom: 2px;
    width: 100%;
    position: absolute;
}

.title_input.filled {
    border-bottom: 1px solid #2196F3;
}

  .title_input:valid ~ label, .title_input:valid ~ label {
    bottom: 30px;
    color: #2196F3;
    font-size: 16px;
  }

  .title_input:valid {
    border-bottom: 1px solid #2196F3;
  }
  

  .bar:before, .bar:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background: #2196F3;
    transition: all 0.2s ease-in-out;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }
  
  .title_input:focus ~ .bar:before, .title_input:focus ~ .bar:after {
    width: 50%;
  }

  .split_basic{
      padding: 7px 15px;
      border: 1px solid rgba(0,0,0,0.15);
      background: white; 
      border-radius: 20px;
      margin-left: 10px;
      cursor: pointer;
  }

  .split_basic:hover{
      background: rgba(0,0,0,0.06);
  }

  .attributes_label{
    background: #4285f4;
    color: white !important;
  }

  .attributes_label:hover{
    background: #4285f4;
    color: white !important;
  }

  .container-basic{
      display: block;
      margin-top: 20px;
  }

  .container-basic pre{
    margin: 5px 15px;
    padding: 6px 10px;
    box-shadow: inset 0 0 0 1px #e9eaeb;
    background: #f1f1f1;
    border-radius: 5px;
  }

@media (max-width: 768px) {
    .chat-thread li img{
        width: 100%;
        height: auto;
    }

    .choices{
        margin: 10px 25px 20px 25px;
        justify-content: space-between;
    }

    .output-area{
        padding-left: 0;
    }

    .chat-thread:before{
        width: 0px;
        display: none;
    }

    .resultdiv{
        padding-left: 0px;
    }

    .incode-markdown{
        display: none;
    }

    .incode{
        display: none;
    }
    .outcode{
        display: none;
    }
}