.gestione{
    background: white;
    padding: 20px 10px 120px 10px;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    box-shadow: -1px 0px 7px -4px rgba(0,0,0,0.5);
    overflow-y: auto;
}

.gestione .side_subtitle{
    /*background: rgba(66,133,244,0.149);*/
   /* background: #f6f7f9;*/
    /*background: rgba(0,0,0,0.06);*/
    height: 35px;
    border-radius: 30px 30px 30px 30px;
    display: block;
    width: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    padding-left: 10px;
    margin-left: 5px;
        /* box-shadow: 0 0 0px 1px rgba(0,0,0,0.1); 
        box-shadow: 0 5px 10px -9px #333, 0 2px 20px rgba(0,0,0,0.05);*/
}

.side_subtitle h6{
    color: #3c4043 !important;
    /*color: #4285f4 !important;*/
    line-height: 35px; 
    padding-right: 30px;
    margin-right: 20px;
}

.side_subtitle h6 i{
    color: #3c4043 !important;
    line-height: 35px; 
    vertical-align: bottom;
    margin-right: 15px;
}

.var_num{
    right: 0;
    font-size: 13px;
    padding: 0px 15px;
    font-weight: 600;
    line-height: 35px; 
    top: 0;
}

.side_message{
    padding: 20px 5px;
    font-weight: 500;
    color: #aaa;
    font-size: 16px;
}

.side_message i{
    margin-right: 15px;
    font-size: 22px;
}

.variable-list{
    background: rgba(0,0,0,0);
    height: auto;
    margin-left: 15px;
}

.variable-container{
    position: relative;
    padding: 7px 15px;
    background: #f6f7f9;
    box-shadow: inset 0 0 0 1px #e9eaeb, 0 10px 30px -10px rgba(0,0,0,0.12);
    border-radius: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.variable-container:hover{
    box-shadow: inset 0 0 0 1px #e9eaeb, 0 10px 20px -7px rgba(0,0,0,0.18);
    transition: all 0.3s;
}

.variable-detail{
    margin: 20px 0;
}

.variable-context{
    margin-bottom: 15px;
}

.variable-detail > div > div{
    overflow-x: auto !important;
}

.selected-var{
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    background: rgba(66,133,244,0.9);
    color: white;
}

.selected-var i{
    color: white;
}

.close_var{
    font-size: 18px !important;
    color: #555;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 10px;
}

.close_var:hover{
    color: #F44336;
    transition: color 0.3s;
}

.close_side{
    position: absolute;
    right: 0;
    float: right;    
    top: 0;
    font-size: 13px;
    padding: 0px 15px;
    font-weight: 600;
    line-height: 35px; 
    color: #F44336 !important;
    height: 35px;
    border-radius: 30px 30px 30px 30px;
    transition: background 0.2s;
}

.close_side:hover{
    transition: background 0.3s, color 0.2s;
    color: white !important;
    background: rgba(255,50,0,0.7);
}

.hint_container{
    border-radius: 10px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.08);
    overflow: hidden;
    margin: 15px 10px;
}

.head_hint{
    top: 0;
    width: 100%;
    padding: 6px 20px;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;    
    background: rgba(66,133,244,0.7);
    background: linear-gradient(to right, rgba(66,133,244,0.9), rgba(153, 102, 255, 0.5));
    color: #fff;
}

.head_hint h6{
    margin-bottom: 0;
}

.hint_container h6{
    padding: 6px 15px;
}

.delete_var{
    height: 100%;
    z-index: 10;
}

.operation{
    color: #EF5350;
    text-decoration: underline;
    cursor: pointer;
}

.attribute{
    color: #4285f4;
    text-decoration: underline;
    cursor: pointer;
}

.asse{
    color: #FBC02D;
    text-decoration: underline;
    cursor: pointer;
}

.color{
    color: #43A047;
    text-decoration: underline;
    cursor: pointer;
}

.font{
    color: #F06292;
    text-decoration: underline;
    cursor: pointer;
}

.operation, .attribute{
    padding: 0 5px;
}

.body_hint{
    padding: 10px 20px;
}

.list_hint{
    padding: 5px;
    margin-bottom: 0;
}

.list_hint li{
    margin: 5px;
    list-style: none;  
    border-bottom: 1px solid #e9eaeb;
}

.list_hint li:last-child{
    border: none;
}

.list_hint li div > div{
    margin: 5px 0;
    padding: 4px 20px;
    width: auto;
    display: inline-block;
    /*box-shadow: inset 0 0 0 1px #e9eaeb;  */
    border-radius: 20px;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    letter-spacing: .2px;
    background: none;
    color: #5f6368;
}

.operation_container{
    background: rgba(255, 54, 54, 0.12);
    box-shadow: inset 0 0 0 1px rgba(255, 54, 54, 0.25);  
}

.operation_container .head_hint{
    background: rgba(255,255,255,0);
    color: #EF5350;
}

.attribute_container{
    background: rgba(66,133,244,0.149);
    box-shadow: inset 0 0 0 1px rgba(0, 123, 255, 0.25);  
}

.attribute_container .head_hint{
    background: rgba(255,255,255,0);
    color: #4285f4;
}

.asse_container{
    background: rgba(253, 216, 53, 0.149);
    box-shadow: inset 0 0 0 1px rgba(253, 216, 53, 0.25);  
}

.asse_container .head_hint {
    background: rgba(255,255,255,0);
    color: #FBC02D;
}

.color_container{
    background: rgba(67, 160, 71, 0.149);
    box-shadow: inset 0 0 0 1px rgba(67, 160, 71, 0.25);  
}

.color_container .head_hint{
    background: rgba(255,255,255,0);
    color: #43A047;
}

.font_container{
    background: rgba(240, 98, 146, 0.149);
    box-shadow: inset 0 0 0 1px rgba(240, 98, 146, 0.25);  
}

.font_container .head_hint{
    background: rgba(255,255,255,0);
    color: #F06292;
}

.dropdown-item{
    text-transform: uppercase !important;
    font-weight: 500  !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.046875 !important;
}

.iridium{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    height: auto;
    align-items: center;
}

.iridium img{
    position: relative;
    display: block;
    height: 50px;
    flex: none;
    margin: 10px;
}

.iridium .presentation{
    padding: 10px 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.divider{
    display: block;
    margin: 10px auto;
    width: 92%;
    height: 1px;
    background: #dedede;
    position: relative;
}

/* TABLE */

.table{
    margin: 0 5px !important; 
}

@media (max-width: 768px) {
    .gestione{
        position: absolute !important;
        top: 0px;
        display: none;
    }
}

@media (max-width: 992px) {
    .gestione h5{
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .gestione{
        display: flex !important;
    }
}